@page "/cart"

@inject ICartService CartService;

<h3>Корзина</h3>

@if (cartItems?.Count <= 0)
{
    <span>В вашей корзине отсутствует товар.</span>
}
else
{
    <div>
        @foreach(var item in cartItems)
        {
            <div class="item-container">
                <div class="item-image-wrapper"><img src="@item.Image" class="item-image"/></div>
                <div class="item-name">
                    <h5><a href="/@item.ProductId">@item.ProductTitle</a></h5>
                    <span>@item.EditionName</span><br/>
                    <button class="btn-delete" @onclick="@(() => DeleteCartItemAsync(item))">Удалить</button>
                </div>
                <div class="item-price">$@item.Price</div>
            </div>
        }
        <div class="item-price">
            Всего(@cartItems.Count): $@cartItems.Sum(item => item.Price)
        </div>
    </div>
}

@code {
    List<CartItem> cartItems = new List<CartItem>();

    protected override async Task OnInitializedAsync()
    {
        cartItems = await CartService.GetCartItemsAsync();
    }

    private async Task DeleteCartItemAsync(CartItem item)
    {
        await CartService.DeleteCartItemAsync(item);
        cartItems = await CartService.GetCartItemsAsync();
    }
}
